<a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Categories</a> &lt; <span>All Menu Items</span>
<h1>List of Menu Items within Category</h1>

<!-- <span> {{ itemDetail.name }} </span>
<div>Item name: {{ itemDetail.name }}</div>
<div>Item price: {{ itemDetail.price_large }}</div>
<div>Item description: {{ itemDetail.description }}</div> -->

<ul>
  <li ng-repeat="item in itemDetail.items">
     <div class="itemname">{{ item.name }} ( ${{ item.price_large }} )</div> {{ item.description }}
  </li>
</ul>
