<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>

  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as BuyList'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in BuyList.itemsToBuy">Buy {{item.quantity}} {{item.name}}<button ng-click="BuyList.RemoveItem($index);">Bought</button></li>
     </ul>
     <div ng-if="BuyList.errorMessage" class="emptyMessage">{{BuyList.errorMessage}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as BoughtList'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in BoughtList.itemsBought">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-if="!BoughtList.itemsBought.length" class="emptyMessage">{{BoughtList.BoughtErrorMessage}}</div>
    </div>
  </div>
</div>

</body>
</html>
